body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}


.card {
    background-color: #4CAF50;
    color: white;
    padding: 30px;
    border-radius: 15px;
    width: 150px;
    transition: all 0.3s ease;
}


.card:hover {
    background-color: #45a049;
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}


button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}


button:hover {
    background-color: #333;
    color: white;
    transform: scale(1.1);
}